@import "mix.less";

.body {
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "roboto", Arial, sans-serif;
  .mixs (16px, 24px, 400);
  color: #555555;
  background-color: #ffffff;
  overflow-x: hidden;
}

.title {
  font-family: "montserrat", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;

  &::after {
    content: " ";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 23px 0 0 0;
  }
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}


@media (max-width: 480px) {
  .body {
    width: 100%;
    font-size: 10px;
  }
}